html, body {
  width: 90%;
  height: 100%;
  margin: 0 auto;
}

#out {
  color: white;
  word-wrap: break-word;
}

#logo {
  width: 100%;
  height: auto;
}

@media only screen and (min-width: 680px) {
  html, body {
    width: 75%;
  }
}

@media only screen and (min-width: 1200px) {
  html, body {
    width: 60%;
  }
}

@media only screen and (min-width: 1600px) {
  html, body {
    width: 55%;
  }
}